<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="form-container">
          <form #form (submit)="onFormSubmit($event)">
            <dx-form id="form"
                     [showColonAfterLabel]="true"
                     [showValidationSummary]="true"
                     [formData]="event"
                     validationGroup="eventData">

              <div *dxTemplate="let data of 'item'">
                {{data.firstName}} {{data.lastName}}
              </div>

              <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false, swipeEnabled: false }">
                <!-- General Information -->
                <dxi-tab title="General Information">
                  <dxi-item dataField="patientId" editorType="dxSelectBox"
                            [editorOptions]="{ dataSource: patients, displayExpr: 'firstName', valueExpr: '_id', searchEnabled: true, itemTemplate: 'item' }"
                            [label]="{text: 'Patient'}">
                    <dxi-validation-rule
                      type="required"
                      message="Patient is required">
                    </dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="cause" editorType="dxTextArea" [editorOptions]="{ height: 140 }">
                    <dxi-validation-rule
                      type="required"
                      message="Cause is required">
                    </dxi-validation-rule>
                  </dxi-item>
                  <dxi-item dataField="resolution" editorType="dxTextArea"
                            [editorOptions]="{ height: 140 }"></dxi-item>
                </dxi-tab>

                <!-- Attachments -->
                <dxi-tab title="Attachments">
                  <dx-file-uploader
                    #fileUploader
                    [(uploadUrl)]="url"
                    [multiple]="true"
                    accept="image/*"
                    name="attachments"
                    uploadMode="instantly"
                    (onUploaded)="refresh()"
                  ></dx-file-uploader>

                  <div *ngIf="attachments" class="list-container">
                    <dx-list [items]="attachments" height="100%" [allowItemDeleting]="true" itemDeleteMode="static" (onItemDeleted)="deleteImage($event)">
                      <div *dxTemplate="let item of 'item'">
                        <div class="product">
                          <img src="{{ mainUrl }}/events/attachments/{{ item._id }}/download"/>
                          <div class="name">{{ item.name }}</div>
                          <div class="price">
                            <a download="custom-filename.jpg" href="{{ mainUrl }}/events/attachments/{{ item._id }}/download" title="Download">
                              <i class="fas fa-download"></i> Download
                            </a>
                          </div>
                        </div>
                      </div>
                    </dx-list>
                  </div>

                </dxi-tab>

                <!-- Background Questions -->
                <dxi-tab title="Background Questions">
                  <div *ngIf="event.backgroundQuestions">
                    <div class="list-container">
                      <dx-list [dataSource]="event.backgroundQuestions" height="100%"
                               [searchExpr]="'question'"
                               searchMode="contains"
                               [searchEnabled]="true">
                        <div *dxTemplate="let q of 'item'; let i = index">
                          <div>
                            <!--Question Type YES_NO-->
                            <div *ngIf="q.type == 'YES_NO'">
                              <h5>{{ q.question }}</h5>
                              <dx-select-box [items]="['YES', 'NO']" [(ngModel)]="event.backgroundQuestions[i].answer"
                                             [ngModelOptions]="{ standalone: true }" name="yesNoAnswer">
                              </dx-select-box>
                              <div *ngIf="event.backgroundQuestions[i].answer == 'YES'">
                                <span>Comentario</span>
                                <dx-text-area name="commentAnswer">
                                </dx-text-area>
                              </div>
                            </div>
                            <!--Question Type DATE-->
                            <div *ngIf="q.type == 'DATE'">
                              <h5>{{ q.question }}</h5>
                              <dx-date-box [(ngModel)]="event.backgroundQuestions[i].answer"
                                           name="dateAnswer"
                                           [ngModelOptions]="{ standalone: true }" type="date">
                              </dx-date-box>
                            </div>
                            <!--Question Type NUMBER-->
                            <div *ngIf="q.type == 'NUMBER'">
                              <h5>{{ q.question }}</h5>
                              <dx-number-box
                                name="numberAnswer"
                                [(ngModel)]="event.backgroundQuestions[i].answer"
                                [ngModelOptions]="{ standalone: true }"
                                [showSpinButtons]="true"
                                [showClearButton]="true"
                              ></dx-number-box>
                            </div>
                            <!--Question Type OPEN-->
                            <div *ngIf="q.type == 'OPEN'">
                              <h5>{{ q.question }}</h5>
                              <dx-text-area
                                name="openAnswer"
                                [(ngModel)]="event.backgroundQuestions[i].answer"
                                [ngModelOptions]="{ standalone: true }"
                                [height]="90">
                              </dx-text-area>
                            </div>
                          </div>
                        </div>
                      </dx-list>
                    </div>
                  </div>
                </dxi-tab>
              </dxi-item>

            </dx-form>
            <br/>
            <dx-button
              text="Save"
              icon="fas fa-save"
              type="success"
              validationGroup="eventData"
              [useSubmitBehavior]="true">
            </dx-button>

            <dx-button
              text="Back"
              type="normal"
              icon="fas fa-arrow-left"
              routerLink="/events"
              [useSubmitBehavior]="false">
            </dx-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
