<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="form-container">
          <form #form (submit)="onFormSubmit($event)">
            <dx-form id="form"
                     [showColonAfterLabel]="true"
                     [showValidationSummary]="true"
                     [formData]="event"
                     validationGroup="eventData">

              <div *dxTemplate="let data of 'item'">
                {{data.firstName}} {{data.lastName}}
              </div>

              <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">

                <dxi-tab title="General Information">
                  <dxi-item itemType="group" caption="General Information">
                    <dxi-item dataField="patientId" editorType="dxSelectBox"
                              [editorOptions]="{ items: patients, displayExpr: 'firstName', valueExpr: '_id', searchEnabled: true, itemTemplate: 'item' }" [label]="{text: 'Patient'}">
                      <dxi-validation-rule
                        type="required"
                        message="Patient is required">
                      </dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="cause" editorType="dxTextArea" [editorOptions]="{ height: 140 }">
                      <dxi-validation-rule
                        type="required"
                        message="Cause is required">
                      </dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="resolution" editorType="dxTextArea" [editorOptions]="{ height: 140 }"></dxi-item>
                  </dxi-item>
                </dxi-tab>
              </dxi-item>

            </dx-form>
            <br>
            <dx-button
              text="Save"
              icon="fas fa-save"
              type="success"
              validationGroup="eventData"
              [useSubmitBehavior]="true">
            </dx-button>

            <dx-button
              text="Back"
              type="normal"
              icon="fas fa-arrow-left"
              routerLink="/events"
              [useSubmitBehavior]="false">
            </dx-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
